<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Main Page</title>
</head>
<body>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <!-- 첫번째 아이템 -->
            <div class="col mb-5" th:each="item : ${items}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="@{${item.getImgPath()}}" alt="..." />
                    <!-- Product details-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name\&ndash;&gt;-->
<!--                            <h5 class="fw-bolder" th:text="${item.getName()}">아이템이름</h5>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <p th:text="|${item.getPrice()} 원|">아이템 가격</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center">-->
<!--                            <a class="btn btn-outline-dark mt-auto" sec:authorize="isAuthenticated()" th:href="@{/item/view/{id}(id=${item.getId()})}">상세보기</a>-->
<!--                            <a class="btn btn-outline-dark mt-auto" sec:authorize="!isAuthenticated()" th:href="@{/item/view/nonlogin/{id}(id=${item.getId()})}">상세보기</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

        </div>
    </div>
</section>

</body>